{% extends 'testapp/base_test.html' %}

{% block title %} <title>{{story.title}}</title> {% endblock %}


{% block body %}


<div class="container">
  <h1 style="color:blue">Your result is ready</h1>
  {% if query %}
  <h3>{% with results.count as total_results %}
    <h6 id="des">Found {{total_results}} results</h6>
    {% endwith %}
  </h3>
  {% for x in results %}

  <div class="container mt-3">
    <h2><a href="{{x.get_absolute_url}}">{{x.title}}</a></h2>
    <p id="des">{{x.description}}</p>
  </div>
  {% empty %}
  <h3 style="color:red">There is no such type of  query</h3>
  {% endfor %}
  {% else %}
  <h3>Your query is wrong</h3>
  {% endif %}
<a href="/" class="btn-lg bg-info" id="des">Back</a>

</div>



{% endblock %}
