{% extends 'testapp/base_test.html' %}
{% load staticfiles %}
{% block content %}

<br>
<br>
<br>
<br>

<main class="container">
	<h3 class="border-bottom pb-1 my-4">All Categories</h3>
	<div class="row">
		<!-- Category Box -->
		{% for cat in state %}
		<div class="col-md-4 mt-5">
			<div class="card mb-3 shadow">
            <img src="{{cat.category_image.url}}" class="card-img-top" alt="{{cat.title}}" height="200px">
			  <div class="card-body">
			    <h5 class="card-title">{{cat.title}}</h5>
			    <hr/>
			    <p class="card-text"><a href="category/{{cat.id}}" class="btn btn-sm btn-primary">All Place</a></p>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
	<!-- pagination -->
	<nav aria-label="Page navigation example">
	<ul class="pagination">
		{%  if state.has_previous %}
			<li class="page-item ml-5 pl-5"><a class="page-link" href="?page={{state.previous_page_number}}">Previous</a></li>
		{% endif %}

		{% for i in state.paginator.page_range %}
		{% if state.number == i %}
		<li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
		{% endif %}

		{% endfor %}
		{%  if state.has_next %}
	<li class="page-item"><a class="page-link" href="?page={{state.next_page_number}}">Next</a></li>
	{% endif %}
</ul>
</nav>



</main>


{% endblock %}